html, body {
    background: #202124;
    margin: 0;
    height: 100%;
}
.container {
    display: block;
}

/*-------------------------------------Navigation Bar-------------------------------------*/
.navbar {
    display: flex;
    height: 20%;
    width: 100%;
    color: #bdc1c6;
    padding: 20px;
    float: right;
    justify-content: flex-end;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;; 
}
.navbar a{
    text-decoration: unset;
    color: white;
    margin-left: 20px;
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar svg{
    text-decoration: unset;
    filter: invert(84%) sepia(6%) saturate(203%) hue-rotate(173deg) brightness(94%) contrast(84%);
    height: 25px;
    padding-left: 10px;
    font-size: 100px;
}
.navbar img{
    border-radius: 15px;
    padding: auto;
    max-width: 25px;
    max-height: 25px;
}
.navbar img:hover{

}

/*-------------------------------------Logo-------------------------------------*/
.logo {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/*-------------------------------------Search Box-------------------------------------*/
.searchbar {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 30%;
    height: 7%;
}
#searchSVG1{
    filter: invert(84%) sepia(6%) saturate(203%) hue-rotate(173deg) brightness(94%) contrast(84%);
    padding-left: 15px;
    padding-top: 2px;
    position: absolute;
    float: left;
    width: 4%;
    height: 53%;
}
#searchSVG2{
    height: 25px;
    padding-left: 10px;
    position: absolute;
    padding-left: 91%;
    padding-top: 2%;
}
#searchSVG1:hover + #inp{
    background-color: #4b4c4e;
    border: unset;
}

.searchbar input{
    background-color: #202124;
    border-radius: 30px;
    border: 1px solid #bdc1c6;
    width: 100%;
    height: 70%;
}
.searchbar input:hover{
    background-color: #4b4c4e;
    border: unset;
}

/*-------------------------------------Search Box Buttons-------------------------------------*/
.searchbarButtons {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 50%;
    height: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 15px;
}
.searchbarButtons button{
    background-color: #4d4d50;
    color: white;
    border: unset;
    width: 140px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
}
#btn1 {
    margin-right: 5px;
}
#btn2 {
    margin-left: 5px;
}
.searchbarButtons button:hover{
    border: 1px solid #bdc1c6;
    cursor: pointer;
}
.searchbarButtons span {
    color: #bdc1c6;
    display: block;
    padding: 20px;
}
.searchbarButtons span a{
    text-decoration: unset;
    color: #8ab4f8;
    padding: 5px;
}
.searchbarButtons span a:hover{
    text-decoration: underline;
}

.footer1 {
    border-bottom: 1px solid #212327;
    color: #9aa0a6;
    position: absolute;
    left: 0%;
    top: 88.5%;
    width: 100%;
    height: 60px;
    background-color: black;
}
.footer1 span{
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-family: arial,sans-serif;
    display: table-cell;
    vertical-align: middle;
}

.footer2 {
    border-bottom: 1px solid #212327;
    color: #9aa0a6;
    position: absolute;
    left: 0%;
    top: 95%;
    width: 100%;
    background-color: black;
}
.footer2 span{
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 14px;
    padding-left: 30px;
    display: table-cell;
    vertical-align: middle;
    display: flex;
}
.footer2 span .start a{
    padding-right: 30px;
    text-decoration: unset;
    color: #9aa0a6;
}
.footer2 span .start a:hover{
    text-decoration: underline;
}

.footer2 span .end{
    margin-left: 64%;
}
.footer2 span .end a{
    padding-right: 30px;
    text-decoration: unset;
    color: #9aa0a6;
}
.footer2 span .end a:hover{
    text-decoration: underline;
}